<div>
    <tabset>
        <tab select="tabAlarms()">
            <tab-heading>Alarms</tab-heading>
            <div class="table-responsive" style="overflow-x: auto">
                <table class="table table-condensed table-topless">
                    <tbody>
                    <tr class="gb-alarm" ng-repeat="alarm in alarms">
                        <td ng-click="remove(alarm)" class="gb-alarm-btn-xs"><div ng-class="alarm.state | alarmRemoveButtonClass"><i ng-class="alarm.state | alarmRemoveClass: alarm._updateState" style="min-width: 1.1em;" title="{{alarm.state | alarmRemoveTitle}}"></i></div></td>
                        <td ng-click="acknowledge(alarm)" class="gb-alarm-btn-xs"><div ng-class="alarm.state | alarmAckButtonClass"><i ng-class="alarm.state | alarmAckClass: alarm._updateState" style="min-width: 1.1em;" title="{{alarm.state | alarmAckTitle}}"></i></div></td>
                        <td ng-click="silence(alarm)" class="gb-alarm-btn-xs"><div ng-class="alarm.state | alarmAudibleButtonClass"><i ng-class="alarm.state | alarmAudibleClass: alarm._updateState" style="min-width: 1.1em;" title="{{alarm.state | alarmAudibleTitle}}"></i></div></td>
                        <td>{{alarm.time | date:"h:mm:ss a, MM-dd-yyyy"}}</td>
                        <td class="event-severity">{{alarm.severity}}</td>
                        <td>{{alarm.eventType}}</td>
                        <td class="event-agent">{{alarm.agent}}</td>
                        <td>{{alarm.message}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </tab>

        <tab select="tabEvents()">
            <tab-heading>Events</tab-heading>
            <div class="table-responsive" style="overflow-x: auto">
                <table class="table table-condensed table-topless">
                    <tbody>
                    <tr class="gb-alarm" ng-repeat="event in events">
                        <td><i ng-show="event.alarm" class="fa fa-bell text-muted"></i></td>
                        <td>{{event.time | date:"h:mm:ss a, MM-dd-yyyy"}}</td>
                        <td class="event-severity">{{event.severity}}</td>
                        <td>{{event.eventType}}</td>
                        <td class="event-agent">{{event.agent}}</td>
                        <td>{{event.message}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </tab>
    </tabset>

</div>
