<div>
    <div class="row">
        <div class="col-md-4">
            <h3>Events</h3>
        </div>
        <div class="col-md-4">
            <alert type="info" ng-show="newItems" role="alert" style=" margin-bottom: 0;padding-top: 6px; padding-bottom: 6px;"><i class="fa fa-info-circle"></i> {{ newItems }}</alert>
        </div>
        <div class="col-md-4 text-right" style="padding-top: 20px">
            <gb-pager model="pageState" page-first="pageFirst()" page-previous="pagePrevious()" page-next="pageNext()"></gb-pager>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive" style="overflow-x: auto">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Alarm</th>
                        <th>Sev</th>
                        <th>User</th>
                        <th>Message</th>
                        <th>Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gb-event" ng-repeat="event in events">
                        <td>{{event.eventType}}</td>
                        <td>{{event.alarm}}</td>
                        <td>{{event.severity}}</td>
                        <td>{{event.agent}}</td>
                        <td>{{event.message}}</td>
                        <td>{{event.time | date:"h:mm:ss a, MM-dd-yyyy"}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-show="pageState === 4">
            No events
        </div>
    </div>
</div>
