<span>
    <i class="fa fa-exclamation-triangle" ng-show="replyError" popover="{{replyError}}" popover-trigger="mouseenter" popover-placement="bottom"></i>
    <span ng-if="!editing">{{ model.currentMeasurement.value }}</span>

    <div ng-if="editing" class="form-inline">
        <input type="text" class="form-control" ng-model="editing.value" ng-blur="inputOnBlur()" ng-focus="inputOnFocus()" ng-keydown="inputKeyDown($event)" name="measurement_value" ng-pattern="" style="width:6em;" placeholder="{{ placeHolder}}">
        <div ng-if="model.currentMeasurement.shortQuality==='R'" class="btn-group" role="group" aria-label="...">
            <button ng-click="override()" type="button" ng-class="requestPending | buttonDisabled: 'btn btn-info gb-btn-override'" ng-focus="buttonOnFocus()" ng-blur="buttonOnBlur()" popover="Replace" popover-trigger="mouseenter" popover-placement="bottom"><span ng-class="(requestPending==='override')?'icon-spin':''">R</span></button>
            <button ng-click="nis()"     type="button" ng-class="requestPending | buttonDisabled: 'btn btn-info gb-btn-nis'" ng-focus="buttonOnFocus()" ng-blur="buttonOnBlur()" popover="Not In Service" popover-trigger="mouseenter" popover-placement="bottom"><span ng-class="(requestPending==='nis')?'icon-spin':''">N</span></button>
            <a ng-click="remove()"  type="button" class="text-danger gb-btn-replacenis-remove" popover="{{removeTooltip}}" ng-focus="buttonOnFocus()" ng-blur="buttonOnBlur()" popover-trigger="mouseenter" popover-placement="bottom"><i ng-class="(requestPending==='remove')?'fa-spin fa fa-minus-circle':'fa fa-minus-circle'"></i></a>
        </div>
        <div ng-if="model.currentMeasurement.shortQuality==='N'" class="btn-group" role="group" aria-label="...">
            <button ng-click="override()" type="button" ng-class="requestPending | buttonDisabled: 'btn btn-info gb-btn-override'" ng-focus="buttonOnFocus()" ng-blur="buttonOnBlur()" popover="Replace" popover-trigger="mouseenter" popover-placement="bottom"><span ng-class="(requestPending==='override')?'icon-spin':''">R</span></button>
            <button ng-click="nis()"     type="button" class="btn btn-info disabled gb-btn-nis" popover="Not In Service" ng-focus="buttonOnFocus()" ng-blur="buttonOnBlur()" popover-trigger="mouseenter" popover-placement="bottom">N</button>
            <a ng-click="remove()"  type="button" class="text-danger gb-btn-replacenis-remove" popover="{{removeTooltip}}" ng-focus="buttonOnFocus()" ng-blur="buttonOnBlur()" popover-trigger="mouseenter" popover-placement="bottom"><i ng-class="(requestPending==='remove')?'fa-spin fa fa-minus-circle':'fa fa-minus-circle'"></i></a>
        </div>
        <div ng-if="model.currentMeasurement.shortQuality!=='N' && model.currentMeasurement.shortQuality!=='R'" class="btn-group" role="group" aria-label="...">
            <button ng-click="override()" type="button" ng-class="requestPending | buttonDisabled: 'btn btn-info gb-btn-override'" ng-focus="buttonOnFocus()" ng-blur="buttonOnBlur()" popover="Replace" popover-trigger="mouseenter" popover-placement="bottom"><span ng-class="(requestPending==='override')?'icon-spin':''">R</span></button>
            <button ng-click="nis()"     type="button" ng-class="requestPending | buttonDisabled: 'btn btn-info gb-btn-nis'" ng-focus="buttonOnFocus()" ng-blur="buttonOnBlur()" popover="Not In Service" popover-trigger="mouseenter" popover-placement="bottom"><span ng-class="(requestPending==='nis')?'icon-spin':''">N</span></button>
        </div>
    </div>
</span>
