<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ application.route }}">{{ application.label }}</a>
    </div>

    <div class="collapse navbar-collapse" collapse="isCollapsed">
        <ul class="nav navbar-nav" ng-hide="loading">
            <li  ng-repeat="item in applicationMenuItems" ng-class="getActiveClass( item)">
                <a href="{{ item.route }}">{{ item.label }}</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-hide="loading">
            <li class="dropdown">
                <a class="dropdown-toggle">Logged in as {{ userName }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li ng-repeat="item in sessionMenuItems"><a href="{{ item.route }}">{{ item.label }}</a></li>
                </ul>
            </li>
        </ul>
    </div>

  </div>
</div>