<div class="gb-chart" ng-repeat="chart in charts">
    <div class="gb-win" >
        <div class="gb-win-titlebar clearfix">
            <p class="gb-win-title"><span class="glyphicon glyphicon-stats" style="top: 0; vertical-align: top; margin-right:4px"></span> <span>{{ chart.name }}</span></p>
            <div class="gb-win-actions">
                <a href="" ng-click=""><i class="glyphicon glyphicon-minus icon-white" style="margin-top: 5px"></i></a>
                <a href="" ng-click="chartPopout($index)"><i class="glyphicon glyphicon-share-alt icon-white"></i></a>
                <a href="" ng-click="chartRemove($index)"><i class="glyphicon glyphicon-remove icon-white"></i></a>
            </div>
        </div>
        <ul class="nav nav-pills" style="margin-bottom: 5px; font-size: 86%">
            <li class="gb-legend" ng-repeat="point in chart.points">
                <div class="gb-icon-text draggable" draggable ident="point.id" source="chart" on-drag-success="onDragSuccess">
                    <span class="gb-legend-text" style="border-bottom-color: {{ $parent.chart.traits.color(point) }}">{{point.name}}</span>
                    <i class="fa fa-exclamation-triangle gb-icon gb-icon-error" ng-show="point.error" title="{{ point.error }}"></i>
                    <a class="gb-remove" href="" ng-click="removePoint( chart, point)"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            </li>
        </ul>
        <div class="gb-win-container">
            <div class="gb-win-content" droppable target="chart" on-drop="onDropPoint">
                <div chart="chart.traits" data="chart.points" selection="chart.selection"  style="height: 150px"></div>
            </div>
        </div>
    </div>
</div>
