<div>
    <div class="row" ng-show="showHeading!=='false'" style="margin-bottom: 1.4em">
        <div class="col-md-5">
            <h3>All Energy Storage</h3>
        </div>
        <div class="col-md-6" style="margin-top: 1.2em;">
            <input type="text" class="form-control" placeholder="search any column" ng-model="searchText" style="height: 100%;">
            <!--<button class="btn btn-info" ng-click="search()" style="height: 100%; width: 60px; margin-bottom: 10px;"><i class="glyphicon glyphicon-search icon-white"></i></button>-->
        </div>
        <div class="col-md-1">
            <!-- Need display:inline-block for margin-top to work -->
            <gb-popout style="margin-top: 1.2em; display: inline-block; float:right;"></gb-popout>
        </div>
    </div>


    <div ng-cloak>
        <table class="table table-condensed gb-table-2header" style="border-collapse: separate">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th colspan="3"></th>
                <th colspan="2" class="gb-cell-highlight gb-cell-highlight-top">Nameplate Capacity</a></th>
            </tr>
            <tr>
                <th><a href="" ng-click="sortColumn = 'name'; reverse=!reverse">Device</a></th>
                <th style="text-align: right;"><a href="" ng-click="sortColumn = 'power'; reverse=!reverse">Power (kW)</a></th>
                <th style="padding-left: 1em;"><a href="" ng-click="sortColumn = 'status'; reverse=!reverse">Status</a></th>
                <th title="State of Charge %" style="text-align: center"><a href="" ng-click="sortColumn = 'percentSoc'; reverse=!reverse">SOC %</a></th>
                <th></th>
                <th class="gb-cell-highlight gb-cell-highlight-left"><a href="" ng-click="sortColumn = 'capacity.power'; reverse=!reverse">Power (kW)</a></th>
                <th class="gb-cell-highlight gb-cell-highlight-right"><a href="" ng-click="sortColumn = 'capacity.energy'; reverse=!reverse">Energy (kWh)</a></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ces in ceses | filter:searchText | orderBy:sortColumn:reverse">
                <td>{{ces.name}}</td>
                <td class="gb-value">{{ces.power}}</td>
                <td style="padding-left: 1em;"><!--<i ng-class="ces.status | essStatusIconClass" title="{{ces.statusLabel}}" aria-hidden="true"></i>-->{{ ces.statusLabel }}</td>
                <td style="width: 60px">
                    <div class="battery-wrapper" title="{{ces.statusLabel}}" >
                        <div class="{{ces.percentSoc | essBatterySocChargedClass: ces.status}}" style="width:{{ces.percentSocMax100}}%"></div>
                        <div class="{{ces.percentSoc | essBatterySocUnchargedClass: ces.status}}" style="width:{{100-ces.percentSocMax100}}%"></div>
                        <div class="battery-overlay"></div>
                        <!--<i ng-show="ces.status === 1" ng-class="ces.status | essStatusIconClass: 'battery-overlay-icon'" title="{{ces.statusLabel}}" aria-hidden="true"></i>-->
                    </div>
                </td>
                <td>{{ces.percentSoc}}%</td>
                <td class="gb-cell-highlight gb-cell-highlight-left">{{ces.capacity.power}}</td>
                <td class="gb-cell-highlight gb-cell-highlight-right">{{ces.capacity.energy}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

