<div class="form-group">
    <label class="col-sm-5 control-label">{{ model.displayName }}</label>
    <div class="col-sm-7">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="selectToggle()">Select <i ng-class="selectClasses"></i></button>
            </div>

            <button ng-if="!isSetpointType" type="button" class="btn btn-primary" ng-click="execute()" ng-show="isSelected">
                Execute <span style="padding-right: 0.5em;"> </span><i ng-class="executeClasses"></i>
            </button>

            <div ng-if="isSetpointType" class="input-group input-group-sm-  {{form.setpoint_value.$error.pattern ? 'has-error' : ''}}" ng-show="isSelected">
                <input type="text" class="form-control" ng-model="setpoint.value" name="setpoint_value-{{ model.id }}" ng-pattern-="pattern" style="width:6em;" placeholder="{{ placeHolder}}">
                <button type="button" class="btn btn-primary" ng-click="execute()" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">
                    Set
                    <span style="padding-right: 0.5em;"> </span><i ng-class="executeClasses"></i>
                </button>
            </div>

            <i class="fa fa-exclamation-circle gb-command-error" ng-show="replyError" popover="{{replyError}}" popover-trigger="mouseenter" popover-placement="top"></i>

        </div>
    </div>
</div>
