<!DOCTYPE html>
<html lang="en" ng-app="greenbus.views.demo" id="top">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>GreenBus Web Views - AngularJS components for GreenBus Applications</title>
    <meta name="description" content="Greenbus Web Views AngularJS (Angular) native directives for GreenBus Apps. Small footprint (5kB gzipped!), no 3rd party JS dependencies (jQuery, bootstrap JS) required! Widgets: <% demoModules.forEach(function(module) { %><%= module.displayName %>, <% }); %>">
    <meta name="google-site-verification" content="7lc5HyceLDqpV_6oNHteYFfxDJH7-S3DwnJKtNUKcRg" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.7/fastclick.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/<%= ngversion %>/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/<%= ngversion %>/angular-cookies.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/<%= ngversion %>/angular-touch.min.js"></script>
    <script src="assets/ui-bootstrap-tpls-<%= uibsversion%>.min.js"></script>
    <script src="assets/ui-utils.min.js"></script>
    <script src="assets/angular-ui-router.min.js"></script>
    <script src="assets/angular-bootstrap-nav-tree/abn_tree_directive.js"></script>
    <script src="assets/d3/d3.v3.min.js"></script>
    <script src="assets/moment.js"></script>
    <script src="assets/d3-traits/d3-traits.js"></script>
    <script src="assets/greenbus-views-mocks.js"></script>
    <script src="greenbus-views-tpls-<%= pkg.version%>.js"></script>
    <script src="assets/plunker.js"></script>
    <script src="assets/app.js"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/<%= bsversion %>/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/rainbow.css"/>
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="assets/angular-bootstrap-nav-tree/abn_tree.css"/>
    <link rel="stylesheet" href="assets/d3-traits/d3-traits.css"/>
    <link rel="stylesheet" href="greenbus-views-<%= pkg.version%>.css"/>
    <link rel="stylesheet" href="assets/schematic.css"/>
    <link rel="stylesheet" href="assets/demo.css"/>

    <% demoModules.forEach(function(module) { %>
      <script src="moduledemos/<%= module.name %>/demo.js"></script>
    <% }); %>

  </head>
<body class="ng-cloak" ng-controller="MainCtrl">
<header class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="#">GreenBus Web Views</a>
            </div>
            <nav class="hidden-xs">
                <ul class="nav navbar-nav">
                    <a href="#top" role="button" class="navbar-brand">
                        GreenBus Web Views
                    </a>
                    <li class="dropdown">
                        <a role="button" class="dropdown-toggle">
                            Directives <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <% demoModules.forEach(function(module) {  %><li><a href="#<%= module.name %>"><%= module.displayName %></a></li><% }); %>
                        </ul>
                    </li>
                    <li><a href="#getting_started">Getting started</a></li>
                </ul>
            </nav>
            <nav class="visible-xs" collapse="!isCollapsed">
                <ul class="nav navbar-nav">
                    <li><a href="#getting_started" ng-click="isCollapsed = !isCollapsed">Getting started</a></li>
                    <li><a href="#directives_small" ng-click="isCollapsed = !isCollapsed">Directives</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="header-placeholder"></div>
<div role="main">
    <header class="bs-header text-center" id="overview">
        <div class="container">
            <h1>
                GreenBus Web Views
            </h1>

            <p>GreenBus components written in pure <a href="http://angularjs.org">AngularJS</a> by the <a
                    href="http://gec.github.io">Green Energy Corp Team</a></p>

            <p>
                <a class="btn btn-outline-inverse btn-lg" href="https://github.com/gec/greenbus-web-views"><i class="icon-github"></i>Code on Github</a>
                <button type="button" class="btn btn-outline-inverse btn-lg" ng-click="showDownloadModal()">
                    <i class="glyphicon glyphicon-download-alt"></i> Download <small>(<%= pkg.version%>)</small>
                </button>
                <button type="button" class="btn btn-outline-inverse btn-lg" ng-click="showBuildModal()"><i class="glyphicon glyphicon-wrench"></i> Create a Build</button>
            </p>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section class="bs-sidebar visible-xs" id="directives_small">
                    <ul class="nav bs-sidenav">
                        <li><a href="#"><strong>Directives</strong></a></li>
                        <% demoModules.forEach(function(module) {  %>
                            <li><a href="#<%= module.name %>"><%= module.displayName %></a></li>
                        <% }); %>
                    </ul>
                </section>

                <section id="getting_started">
                    <div class="page-header">
                        <h1>Getting started</h1>
                    </div>
                    <h3>Dependencies</h3>
                    <p>
                        This repository contains a set of <strong>native AngularJS directives</strong> for
                        GreenBus Application connected to Reef. The <strong>only required dependencies</strong> are:
                    </p>
                    <ul>
                        <li><a href="http://angularjs.org" target="_blank">AngularJS</a> (requires AngularJS 1.2.x, tested with <%= ngversion %>)</li>
                        <li><a href="http://getbootstrap.com" target="_blank">Bootstrap CSS</a> (tested with version <%= bsversion %>).
                            This version of the library (<%= pkg.version%>) works only with Bootstrap CSS in version 3.x.
                        </li>
                        <li><a href="https://github.com/gec/greenbus-web-views">GreenBus (for server REST services)</a></li>
                        <li><a href="https://github.com/gec/reefport">REEF</a></li>
                    </ul>
                    <h3>Files to download</h3>
                    <p>
                        Build files for all directives are distributed in several flavours: minified for production usage, un-minified
                        for development, with or without templates. All the options are described and can be
                        <a href="https://github.com/angular-ui/bootstrap/tree/gh-pages">downloaded from here</a>.
                    </p>
                    <p>Alternativelly, if you are only interested in a subset of directives, you can
                        <a ng-click="showBuildModal()">create your own build</a>.
                    </p>
                    <p>Whichever method you choose the good news that the overall size of a download is very small:
                       &lt;20kB for all directives (~5kB with gzip compression!)</p>
                    <h3>Installation</h3>
                    <p>As soon as you've got all the files downloaded and included in your page you just need to declare
                       a dependency on the <code>greenbus.views</code> <a href="http://docs.angularjs.org/guide/module">module</a>:<br>
                       <pre><code>angular.module('myModule', ['greenbus.views']);</code></pre>
                    </p>
                    <p>You can fork one of the plunkers from this page to see a working example of what is described here.</p>
                    <h3>CSS</h3>
                    <p>Original Bootstrap's CSS depends on empty <code>href</code> attributes to style cursors for several components (pagination, tabs etc.).
                    But in AngularJS adding empty <code>href</code> attributes to link tags will cause unwanted route changes. This is why we need to remove empty <code>href</code> attributes from directive templates and as a result styling is not applied correctly. The remedy is simple, just add the following styling to your application: <pre><code>.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }</code></pre>
                    </p>
                </section>
                <div class="row">
                  <div class="col-md-10">
                    <div ui-view></div>
                  </div>
                  <div class="col-md-2">
                    <section class="bs-sidebar" id="directives">
                      <ul class="nav bs-sidenav">
                        <li><a href="#"><strong>Directives</strong></a></li>
                        <% demoModules.forEach(function(module) {  %>
                        <li><a ui-sref="<%= module.name %>"><%= module.displayName %></a></li>
                        <% }); %>
                      </ul>
                    </section>
                  </div>
                </div>

            </div>
        </div>
    </div><!-- /.container -->
</div><!-- /.main -->
<footer class="footer">
    <div class="container">
        <p>Designed and built by <a href="https://github.com/angular-ui?tab=members" target="_blank">Angular-UI team</a> and <a href="https://github.com/angular-ui/bootstrap/graphs/contributors" target="_blank">contributors</a>.</p>
        <p>Code licensed under <a href="https://github.com/gec/greenbus-web-views/blob/master/LICENSE"><%= pkg.license %> License</a>.</p>
        <p><a href="https://github.com/gec/greenbus-web-views/issues?state=open">Issues</a></p>
    </div>
</footer>
<script src="assets/rainbow.js"></script>
<script src="assets/rainbow-generic.js"></script>
<script src="assets/rainbow-javascript.js"></script>
<script src="assets/rainbow-html.js"></script>
<script type="text/ng-template" id="downloadModal.html">
    <div class="modal-header"><h4 class="modal-title">Download GreenBus Web Views</h4></div>
    <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-3 control-label"><strong>Build</strong></label>
            <div class="col-sm-9">
              <span class="btn-group">
                <button type="button" class="btn btn-default" ng-model="options.minified" btn-radio="true">Minified</button>
                <button type="button" class="btn btn-default" ng-model="options.minified" btn-radio="false">Uncompressed</button>
              </span>
              <small class="help-block">Use <b>Minified</b> version in your deployed application. <b>Uncompressed</b> source code is useful only for debugging and development purpose.</small>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label"><strong>Include Templates</strong></label>
            <div class="col-sm-9">
              <span class="btn-group">
                <button type="button" class="btn btn-default" ng-model="options.tpls" btn-radio="true">Yes</button>
                <button type="button" class="btn btn-default" ng-model="options.tpls" btn-radio="false">No</button>
              </span>
              <small class="help-block">Whether you want to include the <i>default templates</i>, bundled with most of the directives. These templates are based on Bootstrap's markup and CSS.</small>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label"><strong>Bower</strong></label>
            <div class="col-sm-9">
              <small>If you are using Bower just run:</small>
              <pre style="margin-bottom:0;">bower install greenbus-web-views</pre>
              <small class="help-block"><a href="http://bower.io/" target="_blank">Bower</a> is a package manager for the web.</small>
            </div>
          </div>
        </form>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default" ng-click="cancel()">Close</a>
        <a class="btn btn-primary" ng-href="{{download('<%= pkg.version%>')}}" download><i class="glyphicon glyphicon-download-alt"></i> Download <%= pkg.version %></a>
    </div>
</script>
<script type="text/ng-template" id="buildModal.html">
    <div class="modal-header">
      <h4>
      Create a Custom Build
      <br>
      <small>Select the modules you wish to download</small>
      </h4>
    </div>
    <div class="modal-body">
        <div ng-show="buildErrorText">
            <h4 style="text-align: center;">{{buildErrorText}}</h4>
        </div>
        <div ng-hide="buildErrorText">
            <% modules.forEach(function(module,i) { %>
              <% if (i % 3 === 0) {%>
                <div class="btn-group" style="width: 100%;">
              <% } %>
              <button type="button" class="btn btn-default"
               style="width: 33%; border-radius: 0;"
               ng-class="{'btn-primary': module.<%= module.name %>}"
               ng-model="module.<%= module.name %>"
               btn-checkbox
               ng-change="selectedChanged('<%= module.name %>', module.<%= module.name %>)">
                  <%= module.displayName %>
              </button>
              <% if ((i+1) % 3 === 0) { //end button group%>
                </div>
              <% } %>
            <% }); %>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default" ng-click="cancel()">Close</a>
        <a class="btn btn-primary" ng-disabled="!selectedModules.length" ng-href="{{selectedModules.length ? download(selectedModules) : ''}}">
            <i class="glyphicon glyphicon-download-alt"></i> Download {{selectedModules.length}} Modules
        </a>
    </div>
</script>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37467169-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
<script src="assets/smoothscroll-angular-custom.js"></script>

<script type="text/javascript">
  angular.module('greenbus.views.demo').config([ '$stateProvider', '$urlRouterProvider', function($stateProvider, $urlRouterProvider) {

    // For any unmatched url, redirect to ...
    $urlRouterProvider.otherwise("/loading")

    $stateProvider
      .state('loading',                   { url: "/loading",     template: "<div>pick a module to demo...</div>"})
      .state('microgrids',                { url: "/microgrids",     template: "<div>state: microgrids</div>"})
      .state('microgrids.dashboard',      { url: "/dashboard",     template: "<div>state: microgrids/doashboard</div>"})
    <% demoModules.forEach(function(module) { %>
      .state('<%= module.name %>',      { url: "/<%= module.name %>",       params: {microgridId: null, navigationElement: null}, templateUrl: "moduledemos/<%= module.name %>/content.html"})
    <% }); %>

  }])
</script>

</body>
</html>
