<div class="table-responsive" style="overflow-x: auto">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr class="gb-property" ng-repeat="property in properties" ng-switch on="property.isObject">
            <td>{{property.key}}</td>
            <td ng-switch-when="true"><pre>{{property.value | json}}</pre></td>
            <td ng-switch-default>{{property.value}}</td>
        </tr>
        </tbody>
    </table>
</div>
