<div class="gb-equipment">
    <h3>{{ name }}</h3>
    <gb-popout style="float: right;"></gb-popout>
    <tabset>
        <tab heading="Overview" ng-if="tabs.overview">
            <gb-equipment-schematic></gb-equipment-schematic>
        </tab>
        <tab heading="Measurements" ng-if="tabs.measurements">
            <gb-measurements points-promise="pointsPromise" page-size="pageSize"></gb-measurements>
        </tab>
        <tab heading="Properties" ng-if="tabs.properties">
            <gb-properties-table page-size="pageSize"></gb-properties-table>
        </tab>
        <tab heading="Points" ng-if="tabs.points">
            <gb-points-table points-promise="pointsPromise" page-size="pageSize"></gb-points-table>
        </tab>
    </tabset>
</div>
